{% extends 'base.html' %} {% block content %} {% load static %}

<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
      <p>
        A results-driven IT professional and Automation with 10 years of
        experience in ERP Management, Database, Hardware and Network Support. I
        am Proficient in
        <b>
          Active Directory, Group Policy Management, SQL, Python, Pandas,
          PowerBI, API Integration, Software Development with a strong
          Troubleshooting IT skills .
        </b>
        I am Passionate about leveraging technology to solve complex problems
        and improve business outcomes.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>MD. Abul Bashar</h4>
          <p>
            <em
              >Experienced and highly skilled IT professional with vast
              experience in IT Automation, Programming, reporting, and database
              management. Proficient in Hardware & Network Troubleshoot, SQL,
              Python
            </em>
          </p>
          <ul>
            <li>Working now at- <b> HMBR Tools & Chemicals Ltd </b></li>
            <li>Address: Mirer Bazar, Pubail, Gazipur</li>
            <li>web: www.hmbr.com.bd</li>
            <li>
              ecommerce site:
              <a href="https://www.fixit.com.bd" target="_blank"
                >www.fixit.com.bd</a
              >
            </li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>

        <div class="resume-item">
          <h4>Bachelor in Science</h4>
          <h5>2007 - 2011</h5>
          <p>
            <em
              >International University of Business , Aggriculture and
              Technology (IUBAT)</em
            >
          </p>
          <p><em>Major: Computer Science</em></p>
          <p><em>CGPA- 2.8 out of 4</em></p>
        </div>

        {% comment %}
        <div class="resume-item">
          <h4>Higher Secodary Certificate</h4>
          <h5>2005 - 2007</h5>
          <p><em>Bhawal Badre Alam Govt College </em></p>
          <p><em>Major: Science</em></p>
          <p><em>CGPA- 3.19 out of 5 </em></p>
        </div>
        {% endcomment %}

        <h3 class="resume-title">Professional Certificate</h3>

        {% comment %}
        <div class="resume-item">
          <h4>Google Certified IT Professional</h4>
          <h5>May 2023 - October 2023</h5>
          <p><em> From- Coursera (Online) </em></p>
        </div>

        {% endcomment %} {% comment %}
        <div class="resume-item">
          <h4>Google Certified IT Automation With Python Professional</h4>
          <h5>December 2022 - March 2023</h5>
          <p><em> From- Coursera (Online) </em></p>
        </div>
        {% endcomment %} {% comment %}
        <div class="resume-item">
          <h4>Google Advance Data Analysis</h4>
          <h5>September 2022 - March 2023</h5>
          <p><em> From- Coursera (Online) </em></p>
        </div>
        {% endcomment %}

        <div class="resume-item">
          <h4>Cisco Certified Network ASSOCIATE (CCNA)</h4>
          <h5>May-2023 - July 2023</h5>
          <p><em> From- CSL Training (Offline) </em></p>
        </div>

        <div class="resume-item">
          <h4>Google Certified IT Automation with Python Professional</h4>
          <h5>Duration-</h5>
          <h5>6 months</h5>
          <p><em> From- Coursera (Online) </em></p>
          <span> link -</span>
          <a
            href="https://www.coursera.org/account/accomplishments/specialization/certificate/6FHX8ZCEFPZS"
            target="_blank"
          >
            <em>click here</em>
          </a>
        </div>
        <div class="resume-item">
          <h4>Google Certified IT Support Professional</h4>
          <h5>Duration-</h5>
          <h5>6 months</h5>
          <p><em> From- Coursera (Online) </em></p>
          {% comment %} <span> link -</span>
          <a
            href="https://www.coursera.org/account/accomplishments/specialization/certificate/6FHX8ZCEFPZS"
            target="_blank"
          >
            <em>click here</em>
          </a>
          {% endcomment %}
        </div>
        <br />
        <div class="download">
          <h5 style="color: #da0c81"><b> Download Resume </b></h5>
          <h6>
            <a
              href="{% static 'assets/IT-Executive(RESUME).pdf' %}"
              target="_blank"
              >click here</a
            >
          </h6>
          <br />
        </div>
        {% comment %}
        <div class="resume-item">
          <h4>Mikrotik Certified Network Professional (MTCNA)</h4>
          <h5>December 2022 - March 2023</h5>
          <p><em> From- CSL Training (Offline) </em></p>
          <p><em> Running </em></p>
        </div>
        {% endcomment %}
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>IT Executive and Data Analyst</h4>
          <h5>2019 - Present</h5>
          <p>
            <em><b> HMBR Tools and chemicals Ltd </b></em>
          </p>
          <ol>
            <li>
              Implementation, troubleshooting, and configuration of ERP software
              (Dream Apps ERP, HMS, POS).
            </li>
            <li>
              Problem-solving using SQL queries (PostgreSQL, MSSQL, MYSQL) and
              customize ERP reports with Crystal Report.
            </li>
            <li>Maintain Local, Cloud VPS Servers and File Server.</li>
            <li>
              Configure and maintain email (webmail) server and implement email
              user-wise throughout Microsoft Outlook.
            </li>
            <li>
              Create complex scripts through Python for ERP automation, data
              analysis, and convert data into meaningful insights with Power BI.
            </li>
            <li>Configured and implemented Active Directory Domain Server.</li>
            <li>Control User Access through Group Policy Management.</li>
            <li>
              Hands-on Experience with Mikrotik & Cisco Devices (Install,
              configure & troubleshoot).
            </li>
            <li>
              Monitor, troubleshoot, and configure NVR and DVR on factory, head
              office, and branches.
            </li>
            <li>
              Provide IT-related problem solutions to Head Office, Remote
              branches, either virtually or physically.
            </li>
            <li>
              Maintain IT inventory and purchase high-efficiency infrastructure
              within a cost-effective budget.
            </li>
            <li>
              Maintain and record employee attendance using biometric attendance
              machines.
            </li>
            <li>
              Developed, customized, and monitored the company’s websites -
              www.zepto.com.bd, www.fixit.com.bd, and www.hmbr.com.bd.
            </li>
            <li>
              Created Report Management System with Django and made an API for
              the Company's Sales Mobile App.
            </li>
          </ol>
        </div>
        <div class="resume-item">
          <h4>Specialization</h4>

          <div class="row">
            <div class="col-6">ERP Management</div>
            <div class="col-6">
              <div class="progress">
                <div
                  class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  style="width: 85%"
                  aria-valuenow="85"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">Database & SQL</div>
            <div class="col-6">
              <div class="progress">
                <div
                  class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  style="width: 78%"
                  aria-valuenow="78"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">Networking</div>
            <div class="col-6">
              <div class="progress">
                <div
                  class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">Troubleshooting</div>
            <div class="col-6">
              <div class="progress">
                <div
                  class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">System Administration</div>
            <div class="col-6">
              <div class="progress">
                <div
                  class="progress-bar bg-primary progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  style="width: 76%"
                  aria-valuenow="76"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">API Development</div>
            <div class="col-6">
              <div class="progress">
                <div
                  class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">Python Automation</div>
            <div class="col-6">
              <div class="progress">
                <div
                  class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  style="width: 85%"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">Data Analysis</div>
            <div class="col-6">
              <div class="progress">
                <div
                  class="progress-bar bg-dark progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">Git & Github</div>
            <div class="col-6">
              <div class="progress">
                <div
                  class="progress-bar bg-dark progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="68"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
